# Core
API_ID=
API_HASH=
ALLOWED_GROUP_IDS=
OWNER_IDS=
MONGO_URI=
MONGO_DB_NAME=renamer_bot

BOT_TOKEN=...
BOT_SESSION_STRING=...

# Optional Premium user
SESSION_STRING=...

# Bot's private dump
BOT_DUMP_CHAT_ID=-1004318956788

# Premium user's private dump invite
DUMP_CHAT_ID=https://t.me/+8mEhCzMI-kU3Y2Q1


# Command postfix (empty/0 = no postfix)
COMMAND_POSTFIX=2

# Concurrency
GL_LIMIT=4
DL_LIMIT=4
UL_LIMIT=1
WM_LIMIT=1
PL=
